.general{
  display: flex;
    align-items: stretch;
    margin-left: 10px;
  }
  
  .a{
    background-color: white;
    width:260px;
    height:170px;
    margin-bottom:6px;
    border:10px solid rgba(235, 235, 235,0.3);
    
  }
  
  .general2{
    display: flex;
    align-items: stretch;
    margin-left: 150px;
    margin-bottom:10px;
  }
  .n3{
    margin-top: 9px;
    margin-left: 17px;
    color:red;
  }
  .n4{
    margin-top: 9px;
    margin-left: 17px;
    color:rgb(15, 192, 15);
  }
  .n5{
    margin-top: 5px;
    margin-left: 25px;
    color:rgb(132, 132, 132);
  }